* {
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(119, 210, 132);
  margin: 0;
  min-height: 100%;
  padding: 0;
}

.container {
  align-items: flex-end;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  padding: 2em;
}

.paperplane {
  align-items: center;
  animation: land 0.7s forwards ease;
  display: flex;
  filter: drop-shadow(0 7px 2px rgba(0, 0, 0, 0.5));
  justify-content: center;
  max-height: 200px;

  img,
  svg {
    display: block;
    max-width: 180px;
  }

  &.animate {
    animation: fly 2.5s forwards ease;

    svg path {
      fill: #fff !important;
    }
  }
}

@keyframes fly {
  from {
    filter: drop-shadow(0 7px 2px rgba(0, 0, 0, 0.5));
    transform: translateY(0) scale(1);
  }

  to {
    filter: drop-shadow(0 400px 100px rgba(0, 0, 0, 0.5));
    transform: translateY(-1500px) scale(0.1);
  }
}

@keyframes land {
  from {
    filter: drop-shadow(0 50px 15px rgba(0, 0, 0, 0.5));
    transform: translateY(350px) scale(0.9);
  }
  to {
    filter: drop-shadow(0 7px 2px rgba(0, 0, 0, 0.5));
    transform: translateY(0) scale(1);
  }
}
